.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgb(54, 152, 244);
  color: white;
  padding: 14px 25px;
}
h1{
  margin-left: 43px;
}

.footer {

  text-align: center;
  background-color: rgb(54, 152, 244);
  color: white;
  margin-top: 30px;
  padding: 14px 25px;
}

.registration,
.logIn,
.logOut
 {
  color: rgb(237, 237, 232);
  text-align: center;
  text-decoration: none;
  padding-left: 30px;
}

.button {
  background-color: aquamarine;
}
.restaurant {
  
  text-decoration: none;
  list-style-type: none;
  padding-left: 30px;
  border-bottom: 0.1px solid rgb(144, 143, 143);

  background-color: rgb(248, 243, 243);
 
  padding: 5px;
  margin: 10px;
}
li:hover{
  color:rgb(237, 237, 232);
  border-bottom: 0.1px solid lightgrey;
  background-color:  rgb(237, 105, 105);
  height: 50px;
  cursor: pointer;
}
.restaurantName{
  margin-left: 5px;
  font-size: large;
}

.restaurantRating{
  margin-left: 10px;
}

a:hover{
  border-bottom: 0.1px solid lightgrey;
  color: rgba(206, 59, 14, 0.836);
  
  cursor: pointer;
}

